<div class="container">
        <div class="fourth">
           <div class="mapouter"><div class="gmap_canvas"><iframe width="580" height="380"  id="gmap_canvas" src="https://maps.google.com/maps?q=inba%20botique&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe><a href="https://putlocker-is.org"></a><br>
            <style>
            .mapouter{
                right: 10%;
                left:30%;
                top:10%;
                text-align:centre;
                height: 380px;
                width:580px;
                }
            </style>
            <a href="https://www.embedgooglemap.net">google maps widget</a>
                <style>
                    .gmap_canvas {
                        overflow:hidden;
                        background:none!important;
                        height:380px;
                        width:580px;
                        }
                </style>
                </div>
            </div>



        </div>
        