<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<br>
<br>
<p style="text-align: center;"><b><u>ORDER DETAILS</u></b></p><br>
<div class="container">
  <mat-card>
<table class="full-width" appearance="outline">
    <tr>
        <th>Name:</th>
        <td>{{name}}</td>
    </tr>
    <tr>
        <th>Total:</th>
        <td>{{price}}</td>
    </tr>
    
</table>
  </mat-card>
<br><br> 
<div>
<mat-card style="background-color:bisque;">
    <mat-card-content>
      <div class="header">
       <P style="color: black;font-family:Arial, Helvetica, sans-serif;font-size:large; text-align: center;">Enter the Details:</P> 
      </div>
      <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="ord()">
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone number</mat-label>
            <input
              formControlName="phno"
              matInput
              placeholder="Enter Phone number" required
            />
            <mat-error *ngIf="!loginForm.controls['phno'].valid">
                Phone number is required
              </mat-error>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Delivery Address</mat-label>
              <input
                formControlName="address"
                matInput
                placeholder="Enter delivery address" required
              />
              <mat-error *ngIf="!loginForm.controls['address'].valid">
                  Delivery Address is required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>PINCODE</mat-label>
              <input
                formControlName="pincode"
                matInput
                placeholder="Enter pincode" required
              />
              <mat-error *ngIf="!loginForm.controls['pincode'].valid">
                  Pincode is required
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-flat-button color="primary">Confirm Order</button> &nbsp;
        <button type="button" mat-flat-button color="primary" data-toggle="modal" data-target="#exampleModalCenter" [disabled]="!f">
          Pay Now
        </button>
        
       </form>
        
    </mat-card-content>
  </mat-card>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Scan and Pay through any UPI apps</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets\barcode.jpg" style="margin-left: 30%;"><br>
          <strong>In Messsage Box Type Your Order Id and Your Name</strong><br>
          <strong>Order ID : {{this.id}}</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>  
</div>