<div class="container">
<mat-card>
<div class="row">
<div class="col-sm-6"  *ngFor="let p of product;  let i = index" [attr.data-index]="i">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>MATERIAL</mat-card-title>
      <mat-card-subtitle>{{p.material}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{p.pic_url}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Rs : {{p.cost}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="rem(i)">REMOVE FROM CART</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <div class="col-sm-6">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>CHUDIDAR</mat-card-title>
          <mat-card-subtitle>MATERIAL</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Material: Viscose
          </p>
          <p>Rs.850</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REMOVE FROM CART</button>
        </mat-card-actions>
      </mat-card>
    </div> -->
    
</div>
</mat-card>
<mat-card>
  <div>
    <button mat-button style="align-content: center;">ORDER NOW</button>
  </div>
<div>
  <p style="text-align: right;">TOTAL: {{tot}}</p>
</div>
</mat-card>
