<div class ="container">
<h1 style="color: rgb(230, 33, 99);text-align: LEFT;font-family: 'Times New Roman', Times, serif;font-size: 200%; text-align: center;">PROFILE:</h1>
<h4 style="color: rgb(230, 33, 99);text-align: LEFT;font-family: 'Times New Roman', Times, serif; text-align: center;">If you want to update your profile info change it and type the password:</h4>
<mat-card>
    <mat-card-content>
      <div class="header">
      </div>
      <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="update()">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Change email" />
            <mat-error *ngIf="!loginForm.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstname" matInput placeholder="Enter your first name"  />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              formControlName="lastname"
              matInput
              placeholder="Enter your last name"  value={{this.form.lastname}}
            />
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput placeholder="Enter password"/>
      
          <mat-error *ngIf="!loginForm.controls['password'].valid">
              Min 6 character required 
            </mat-error>
          </mat-form-field>
          </div>
        <button mat-flat-button color="primary">Update Profile</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>