
<div class="container">
  <div class="row" style="background-color: #ffe6e6;">
    <h1 style="color:black;text-align:  center;font-size: 200%;font-family: 'Times New Roman', Times, serif;"> CHUDIDARS</h1> 
    <div class="col-xs-9 col-md-4" style="background-color:#ffe6e6;"><img class="img-responsive" src="assets/images/c-1.png"></div>
    <div class="col-xs-9 col-md-4" style="background-color:#ffe6e6;"><img class="img-responsive" src="assets/images/c-2.png"></div>
    <div class="col-xs-9 col-md-4" style="background-color:#ffe6e6;"><img class="img-responsive" src="assets/images/c-3.png"></div>
  </div>
  <br>
  <div class="row" style="background-color:#e6ffe6;">
    <h1 style="color:black;text-align:  center;font-size: 200%;font-family: 'Times New Roman', Times, serif;">KURTI'S</h1> 
    <div class="col-xs-9 col-md-4" style="background-color:#e6ffe6;"><img class="img-responsive" src="assets/images/k-1.png"></div>
    <div class="col-xs-9 col-md-4" style="background-color:#e6ffe6;"><img class="img-responsive" src="assets/images/k-2.png"></div>
    <div class="col-xs-9 col-md-4" style="background-color:#e6ffe6;"><img class="img-responsive" src="assets/images/k-3.png"></div>
  </div>
  <br>
  <br>
  <br>
  <div class="row" style="background-color:#f8ecf8 ;">
    <h1 style="color:black;text-align:  center;font-size: 200%;font-family: 'Times New Roman', Times, serif;">BLOUSE WORKS</h1> 
    <div class="col-xs-9 col-md-4" style="background-color:#f8ecf8;"><img class="img-responsive" src="assets/images/BW-1.png"></div>
    <div class="col-xs-9 col-md-4" style="background-color:#f8ecf8;"><img class="img-responsive" src="assets/images/BW-2.png"></div>
    <div class="col-xs-9 col-md-4" style="background-color:#f8ecf8;"><img class="img-responsive" src="assets/images/BW-3.png"></div>
  </div>
</div>
    

